<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="google-signin-client_id" content="1028299755029-214297fnh7stdg4cc2jhuam8b4lkhdlv.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1028299755029-214297fnh7stdg4cc2jhuam8b4lkhdlv.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Personalised Travel Search</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700,inherit,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/standardize.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/map.js">
    </script>
    <script src="https://plus.google.com/js/client:platform.js" async defer></script>
    <script src="static/js/map1.js">
    </script>
    <style type="text/css">
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
        .classCentred {
            border: 2px solid black;
            height: 200px;
            width: 100%;
            text-align: center;
            padding-top: 100px;
            left: 50%;
            margin-right: -50%;
        }
    </style>
</head>



<body>
    <div class="container" style="margin:auto auto;">
        <div class="row pull-right" style="padding:10px;">
            <div id="gConnect" class="button">
                <button class="g-signin" data-scope="email" ; data-clientid="1028299755029-214297fnh7stdg4cc2jhuam8b4lkhdlv.apps.googleusercontent.com" data-callback="signInCallback" data-theme="dark" data-cookiepolicy="single_host_origin">
                </button>
            </div>
            <div id="gLogout" style="display:none">
                <button type="button" class="btn btn-danger" onclick="signOut();">sign out</button>
                <!-- <a class="btn-success" href="#" onclick="signOut();">Logout</a> -->
            </div>
        </div>
        <div class="row ">
            <form role="form" action="/" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="term" id="exampleInputName2" placeholder="Spoken Language Query" value="{{  du }}" />
                    <input type="hidden" name="profile" id="userprofile"  />
                </div>
            </form>
        </div>
        <!-- For the list of Flights-->
        <div class="row">
        {% if noflight %}
            <div class="result" style="height:210px;overflow:scroll;">
                
                <br/>
                <p style="text-align: center;"><b>No FLIGHTS !!!! Sorry</b>
                </p>
                <br/> {% endif %} {% if total_data %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Fares</th>
                            <th> Airports</th>
                            <th> Airway</th>
                            <th> Start</th>
                            <th> End</th>
                        </tr>
                    </thead>
                    {% for item in total_data %}
                    <tbody>
                        {% if item %}
                        <tr>
                            <td>{{ item.fare }}</td>
                            <td>{{ item.from }} - {{ item.to }}</td>
                            <td>{{ item.brand }}</td>
                            <td>{{ item.endtime }}</td>
                            <td>{{ item.starttime }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
        {% if temp %}
        <div class="row" classCentred style="padding-top:30px;">
            <div class="col-xs-2 clearfix weatherbody" style="height:210px;width:50%;background: white;margin-top: 106px;">
                <div class="weathercontainer" style="height: 210px ; width: 50%;margin-left:-20px;">
                    <p class="weatherlocation">{{ city }}</p>
                    <p class="weathertemperature">{{ temp }}</p>
                    <!-- <div class="weatherclimate_bg"><img class="weatherdropicon" src="static/images/Sun.svg"></div> -->
                    <div class="weatherinfo_bg">
                        <img class="weatherdropicon" src="static/images/Droplet.svg">
                        <p class="weatherhumidity">{{humidity}}</p>
                        <img class="weatherwindicon" src="static/images/Wind.svg">
                        <div class="weatherwindspeed"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 clearfix pull-right">
                <dl>
                    <!--
            <dt><a href="#">Heritage Grand</a></dt>
              {% for h in city %}
                {% if h.7 == "Heritage Grand" %}
                <dd>{{ h.1 }}</dd>
                {% endif %}
              {% endfor %}
            <dt><a href="#">Heritage Classic</a></dt>
              {% for h in city %}
                {% if h.7 == "Heritage Classic" %}
                <dd>{{ h.1 }}</dd>
                {% endif %}
              {% endfor %}
            <dt><a href="#">Heritage Basic</a></dt>
              {% for h in city %}
                {% if h.7 == "Heritage Basic" %}
                <dd>{{ h.1 }}</dd>
                {% endif %}
              {% endfor %}
            -->
                    <dt>TEST: {{ city }}</dt>
                    <dt><a href="#">5 Star Deluxe</a></dt> {% for h in city %} {% if h.7 == "4 Star" %}
                    <dd>{{ h.1 }}</dd>
                    {% endif %} {% endfor %}
                    <dt><a href="#">5 Star</a></dt> {% for h in city %} {% if h.7 == "5 Star" %}
                    <dd>{{ h.1 }}</dd>
                    {% endif %} {% endfor %}
                    <dt><a href="#">4 Star (* * * *)</a></dt> {% for h in city %} {% if h.7 == "4 Star" %}
                    <dd>{{ h.1 }}</dd>
                    {% endif %} {% endfor %}
                </dl>
                <div id="map" style="border: 2px solid black; height: 300px;">
                    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSjtspJA69v6m_8yfqcUE7f5zQa8baTwY&libraries=visualization&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
<script type="text/javascript">

    var respObj;
    function signInCallback(resp) {
        respObj = resp;
        if (resp["status"]["google_logged_in"] && resp["status"]["method"] == "PROMPT") {
            console.log("logged in with prompt mode");
            $("#gConnect").hide();
            $("#gLogout").show();

        } else if (resp["status"]["google_logged_in"] && resp["status"]["method"] == "AUTO") {
            console.log("logged in with auto mode");
            $("#gConnect").hide();
            $("#gLogout").show();
        } else {
            console.log("not logged in");
            $("#gConnect").show();
            $("#gLogout").hide();
        }
        gapi.client.load('plus', 'v1', apiClientLoaded);
    }

    function apiClientLoaded() {
        console.log("apiClientLoaded");
        gapi.client.plus.people.get({
            userId: 'me'
        }).execute(handleEmailResponse);
    }

    function handleEmailResponse(resp) {
        var primaryEmail;
        // JSON.stringify(resp);
        if (respObj['status']['signed_in']) {

            $("#userprofile").val(JSON.stringify(resp));
            console.log(JSON.stringify(resp))
        }

    }

    function signOut() {
        $.ajax({
            type: 'GET',
            url: 'https://accounts.google.com/o/oauth2/revoke?token=' +
                gapi.auth.getToken().access_token,
            async: false,
            contentType: 'application/json',
            dataType: 'jsonp',
            success: function(result) {
                console.log('revoke response: ' + result);
                $('#authOps').hide();
                $('#profile').empty();
                $('#visiblePeople').empty();
                $('#authResult').empty();
                $('#gConnect').show();
            },
            error: function(e) {
                console.log(e);
            }
        });
        $("#gConnect").show();
        $("#gLogout").hide();
    }


    function writeToFile(resp) {
        console.log(resp);
    }
</script>
<script type="text/javascript">
    $('.table > tbody > tr').click(function() {
        window.open("http://makemytrip.com", '_blank');
    });
</script>
