<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Weather App</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700,inherit,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/css/standardize.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/map.js"> </script><style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
      .classCentred {
        border: 2px solid black;
        height: 200px; 
        width: 100%; text-align:center; padding-top: 100px; left: 50%; margin-right: -50%;
      }
  </style>

</head>
<body>
<div class="container" style="margin:auto auto;">
  <div class="row jumbotron">
    <form class="form-inline classCentred" action="/" method="post">
      <div class="form-group" >
        <label for="exampleInputName2">Type Your Query</label>
        <input type="text" class="form-control" name="term" id="exampleInputName2" placeholder="name" />
      </div>
      <input type="submit" value="Search" />
    </form>
      {% if result %}
         <hr>
        {{ result }}
         <hr>
      {% endif %}
  </div>
  <div class="row" classCentred>
    <div class="col-xs-5 clearfix weatherbody" style="height:400px;border:2px solid black;">
      <div class="weathercontainer">
        <p class="weatherlocation"></p>
        <p class="weathertemperature">{{ temp }}</p>
        <div class="weatherclimate_bg"><img class="weatherdropicon" src="static/images/Sun.svg"></div>
        <div class="weatherinfo_bg">
          <img class="weatherdropicon" src="static/images/Droplet.svg">
          <p class="weatherhumidity">{{humidity}}</p>

          <img class="weatherwindicon" src="static/images/Wind.svg">
          <div class="weatherwindspeed"></div>
          </div>
      </div>
    </div>
    <div class="col-xs-7 clearfix pull-right" >
      hotel data
      <div id="map" style="border: 2px solid black; height: 450px;">
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSjtspJA69v6m_8yfqcUE7f5zQa8baTwY
          &libraries=visualization&callback=initMap">
      </script>
      </div>
    </div>
  </div>
</div>







  <!-- <div class="container clearfix">
    <p class="location"></p>
    <p class="temperature">{{ temp }}</p>
    <div class="climate_bg"><img class="dropicon" src="static/images/Sun.svg"></div>
    <div class="info_bg">
      <img class="dropicon" src="static/images/Droplet.svg">
      <p class="humidity">{{humidity}}</p>

      <img class="windicon" src="static/images/Wind.svg">
      <div class="windspeed"></div>
    </div>
  </div> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
<!-- <script type="text/javascript" src="js/weather.js"></script> -->


</body>
</html>